In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:\\Coding\\machine learning\\CSV Files\\categoricaldataset (2).csv")

In [5]:
df.head()

,ID,Color,Size,Shape,Pattern,Material,Category,Weight,Price,Rating,Stock
0,1,Yellow,Small,Circle,Checked,Glass,D,6.78,291.29,2.0,198
1,2,Purple,Small,Square,Striped,Metal,C,6.81,417.14,1.9,121
2,3,Green,Large,Hexagon,Dotted,Metal,D,3.79,403.06,2.6,112
3,4,Purple,Medium,Triangle,Checked,Glass,C,9.42,433.88,3.8,61
4,5,Purple,Small,Hexagon,Dotted,Metal,C,1.76,34.51,1.9,22

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=2)

In [9]:
X_train.head()

      ID   Color    Size     Shape
175  176    Blue   Large  Triangle
818  819  Purple  Medium  Triangle
677  678   Green   Small    Circle
952  953  Yellow   Small   Hexagon
200  201    Blue  Medium  Triangle

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
ohe = OneHotEncoder()

In [15]:
X_train_new = ohe.fit_transform(X_train[['Size','Shape']])

In [17]:
X_test_new = ohe.transform(X_test[['Size','Shape']])

In [19]:
X_train_new.shape

(800, 7)

In [29]:
counts = df['Stock'].value_counts()
df['Stock'].nunique()
threshold = 70

In [31]:
repl = counts[counts <= threshold].index
pd.get_dummies(df['Stock'].replace(repl, 'uncommon')).sample(5)

     uncommon
590      True
582      True
108      True
330      True
627      True