In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("C:\\Coding\\machine learning\\CSV Files\\student_performance_analysis.csv")
df

,student_id,gender,hours_studied,attendance_percent,assignments_completed,test_score
0,1,Female,6.3,61,6,50.9
1,2,Male,7.6,62,7,51.8
2,3,Female,8.9,63,8,52.7
3,4,Male,10.2,64,9,53.6
4,5,Female,11.5,65,10,54.5
5,6,Male,12.8,66,11,55.4
6,7,Female,14.1,67,12,56.3
7,8,Male,15.4,68,13,57.2
8,9,Female,16.7,69,14,58.1
9,10,Male,5.0,70,5,59.0
10,11,Female,6.3,71,6,59.9
11,12,Male,7.6,72,7,60.8
12,13,Female,8.9,73,8,61.7
13,14,Male,10.2,74,9,62.6
14,15,Female,11.5,75,10,63.5
15,16,Male,12.8,76,11,64.4
16,17,Female,14.1,77,12,65.3
17,18,Male,15.4,78,13,66.2
18,19,Female,16.7,79,14,67.1
19,20,Male,5.0,80,5,68.0
20,21,Female,6.3,81,6,68.9
21,22,Male,7.6,82,7,69.8
22,23,Female,8.9,83,8,70.7
23,24,Male,10.2,84,9,71.6
24,25,Female,11.5,85,10,72.5
25,26,Male,12.8,86,11,73.4
26,27,Female,14.1,87,12,74.3
27,28,Male,15.4,88,13,75.2
28,29,Female,16.7,89,14,76.1
29,30,Male,5.0,90,5,77.0
30,31,Female,6.3,91,6,77.9
31,32,Male,7.6,92,7,78.8
32,33,Female,8.9,93,8,79.7
33,34,Male,10.2,94,9,80.6
34,35,Female,11.5,95,10,81.5
35,36,Male,12.8,96,11,82.4
36,37,Female,14.1,97,12,83.3
37,38,Male,15.4,98,13,84.2
38,39,Female,16.7,99,14,85.1
39,40,Male,5.0,60,5,86.0
40,41,Female,6.3,61,6,86.9
41,42,Male,7.6,62,7,87.8
42,43,Female,8.9,63,8,88.7
43,44,Male,10.2,64,9,89.6
44,45,Female,11.5,65,10,90.5
45,46,Male,12.8,66,11,91.4
46,47,Female,14.1,67,12,92.3
47,48,Male,15.4,68,13,93.2
48,49,Female,16.7,69,14,94.1
49,50,Male,5.0,70,5,50.0

In [6]:
df.head()

,student_id,gender,hours_studied,attendance_percent,assignments_completed,test_score
0,1,Female,6.3,61,6,50.9
1,2,Male,7.6,62,7,51.8
2,3,Female,8.9,63,8,52.7
3,4,Male,10.2,64,9,53.6
4,5,Female,11.5,65,10,54.5

In [10]:
df['gender'].value_counts()

gender
Female    25
Male      25
Name: count, dtype: int64

In [12]:
df['gender'].nunique()

2

In [14]:
df['hours_studied'].value_counts()

hours_studied
6.3     5
7.6     5
8.9     5
10.2    5
11.5    5
12.8    5
14.1    5
15.4    5
16.7    5
5.0     5
Name: count, dtype: int64

In [16]:
pd.get_dummies(df,columns=['gender'])

,student_id,hours_studied,attendance_percent,assignments_completed,test_score,gender_Female,gender_Male
0,1,6.3,61,6,50.9,True,False
1,2,7.6,62,7,51.8,False,True
2,3,8.9,63,8,52.7,True,False
3,4,10.2,64,9,53.6,False,True
4,5,11.5,65,10,54.5,True,False
5,6,12.8,66,11,55.4,False,True
6,7,14.1,67,12,56.3,True,False
7,8,15.4,68,13,57.2,False,True
8,9,16.7,69,14,58.1,True,False
9,10,5.0,70,5,59.0,False,True
10,11,6.3,71,6,59.9,True,False
11,12,7.6,72,7,60.8,False,True
12,13,8.9,73,8,61.7,True,False
13,14,10.2,74,9,62.6,False,True
14,15,11.5,75,10,63.5,True,False
15,16,12.8,76,11,64.4,False,True
16,17,14.1,77,12,65.3,True,False
17,18,15.4,78,13,66.2,False,True
18,19,16.7,79,14,67.1,True,False
19,20,5.0,80,5,68.0,False,True
20,21,6.3,81,6,68.9,True,False
21,22,7.6,82,7,69.8,False,True
22,23,8.9,83,8,70.7,True,False
23,24,10.2,84,9,71.6,False,True
24,25,11.5,85,10,72.5,True,False
25,26,12.8,86,11,73.4,False,True
26,27,14.1,87,12,74.3,True,False
27,28,15.4,88,13,75.2,False,True
28,29,16.7,89,14,76.1,True,False
29,30,5.0,90,5,77.0,False,True
30,31,6.3,91,6,77.9,True,False
31,32,7.6,92,7,78.8,False,True
32,33,8.9,93,8,79.7,True,False
33,34,10.2,94,9,80.6,False,True
34,35,11.5,95,10,81.5,True,False
35,36,12.8,96,11,82.4,False,True
36,37,14.1,97,12,83.3,True,False
37,38,15.4,98,13,84.2,False,True
38,39,16.7,99,14,85.1,True,False
39,40,5.0,60,5,86.0,False,True
40,41,6.3,61,6,86.9,True,False
41,42,7.6,62,7,87.8,False,True
42,43,8.9,63,8,88.7,True,False
43,44,10.2,64,9,89.6,False,True
44,45,11.5,65,10,90.5,True,False
45,46,12.8,66,11,91.4,False,True
46,47,14.1,67,12,92.3,True,False
47,48,15.4,68,13,93.2,False,True
48,49,16.7,69,14,94.1,True,False
49,50,5.0,70,5,50.0,False,True